.statistics {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
}
.title {
  padding: 15px 0;
  text-align: center;
  font-size: 19px;
}
.statList {
  display: flex;
  justify-content: space-around;
  background-color: rgba(188, 175, 245, 0.7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.item {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.label {
  padding-bottom: 5px;
  font-weight: 700;
}
.percentage {
  font-size: 15px;
}
