/* .Statistics {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border: 1px solid gray;
  }
  
  .Title {
    text-transform: uppercase;
  }
  
  .StatList {
    display: flex;
    justify-content: center;
  }
  
  .StatListItem {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white;
  }
  
  .Label {
    margin-bottom: 10px;
  }
  */
.statistics {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #f0f8ff;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
}
.title {
  padding: 18px;
  text-align: center;
}
.statList {
  display: flex;
  justify-content: space-around;
  background-color: rgba(188, 175, 245, 0.7);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.item {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.label {
  padding-bottom: 5px;
  font-weight: 700;
}
.percentage {
  font-size: 15px;
}
