.friendList {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px; */
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  list-style: none;
}
.friendItem {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 18px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #f0f8ff;
}
.friendItem:not(:last-child) {
  margin-bottom: 20px;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: auto;
}
.friendAvatar {
  justify-self: center;
  width: 80px;
  background-color: #f0f8ff;
  border-radius: 20%;
  margin-left: auto;
}
.friendName {
  font-size: 19px;
  font-weight: 800;
  margin: 0 auto;
}
.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
